/* seletor universal --- resset da página "*" */

*{margin:0; padding:0; color:#ff0000;font-size:30px}
p {text-transform:capitalize; font-weight:bold; color:gray; font-size:40px;}  
h1 {font-size:400%; color:red;text-overflow: clip;}
h2 {font-size:200%; color:blue; font-family:tahoma; text-align: center;}
h3 {font-size:100%; color: darkred;}
h4 {font-size:100%; color: darkslategrey;margin: 30%; background-color: darkturquoise;margin: 40%}
div {width: 800px;  padding: 70px ; border: 20px solid rgb(67, 85, 25); margin: 50px;}
image {size: 50%;}

/*    comentario */
p {
  margin-top: 100px;
  margin-right: 150px;
  margin-bottom: 100px;
  margin-left: 180px;
}
